
  <issue-master-breadcrumb></issue-master-breadcrumb>
<div class="master-container">

  <ul class="navigation-master">

    <li><a routerLink="details" routerLinkActive="active">Apropos</a></li>
    <li><a routerLink="sources-files" routerLinkActive="active">Dossier Client</a></li>
    <li><a routerLink="subtask" routerLinkActive="active">Tâches</a></li>
    <li><a routerLink="comments" routerLinkActive="active">Remarque</a></li>


    <li><a routerLink="discussion" routerLinkActive="active">Discussion</a></li>

    <li><a routerLink="espace-livraison" routerLinkActive="active">Livrable</a></li>
    <li><a routerLink="espace-livraison" routerLinkActive="planning"> <i class="fas fa-calendar"></i>Planning</a></li>
  </ul>

  <div class="containers">
    <router-outlet></router-outlet>
  </div>
</div>
