<div class="cf" [class.cf--editing]="instance?.isEditing">
  <span class="cf-label" [title]="customFieldValue.customField.name">
    <app-icone-view class="cf-icon" [icon]="getIcone(customFieldValue.customField)"></app-icone-view>
    <span class="cf-label-text">{{customFieldValue.customField.name}}</span>
  </span>

  <span class="cf-value">
    <ng-container #container></ng-container>
  </span>

  <ng-container *ngIf="canEdit$ | async">
    <button type="button" class="cf-action" title="Modifier"
            *ngIf="!instance?.isEditing" (click)="toggleEdit()">
      <i class="fa fa-edit"></i>
    </button>
    <button type="button" class="cf-action cf-action--save" title="Enregistrer"
            *ngIf="instance?.isEditing" (click)="saveIt()">
      <i class="fa fa-check"></i>
    </button>
  </ng-container>
</div>
