
<div class="field">
  <span class="label"><i> <app-icone-view [icon]="getIcone(customFieldValue.customField)"></app-icone-view> {{customFieldValue.customField.name}}  </i></span>
  <span class="value">: <ng-container #container></ng-container></span>
  <span class="edit-btn " (click)="toggleEdit()" *ngIf="!instance.isEditing"><i class="mat-icon fa fa-edit save"  ></i>Edit</span>
  <span class="edit-btn" (click)="saveIt()" *ngIf="instance.isEditing"><i class="edit-btn mat-icon fa fa-check save" ></i>Save</span>

</div>
