<div *ngIf="isLoading" class="spinner-container">
  <div class="spinner"></div>
</div>

<div *ngIf="!isLoading" class="project-list list-group">
  <div class="list-group"  *ngFor="let master of issues" class="project-card" >
    <a class="list-group-item list-group-item-action" [ngStyle]="getStyleByStatus(master)">
      <div class="master-item">
        <div>
          <h5 class="mb-1">
            <app-icone-view [icon]="master.issueType.icone"></app-icone-view> {{master.issueKey}}  {{master.summary}}</h5>
          <p class="mb-2" [innerHTML]="master.description"></p>
          <span  *ngFor="let value of master.values">
        <app-custom-field *ngIf="canShowInList(value)"
                          [customFieldValue]="value" (save)="saveCustomFieldValue($event)"
                          [viewMode]="viewModeField"
        > </app-custom-field>
      </span>
          <div> <app-label-form [issue]="master"></app-label-form> </div>

        </div>
        <small class="master-controle" >
          <b >  <app-assign-field [issue]="master" ></app-assign-field> </b>
          <span *ngIf="master.creationDate">{{master.creationDate | date}}</span>
          <span> <app-status-field  [issue]="master"></app-status-field></span>
          <p style="text-align: right">
          </p>

          <p  style="text-align:right">
            <span (click)="issueService.showPlanning(master)" class="controle">  <i class="fas fa-calendar">  </i>  Planing </span>
            <span (click)="editIssue(master)" class="controle" >  <i class="fas fa-calendar" > </i>  Details </span>
          </p>
        </small>
      </div>


    </a>

  </div>
</div>

