.card{
  min-width: 250px;
  height: 80px;
  height: 55px;
  cursor: pointer;
}
.card-list {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.edit:hover{
  color: #333333;
}


/* navigation-list */
.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f8f9fa; /* Light background */
  border-radius: 8px;
  overflow: hidden;
  min-height: 80vh;
}

.navigation-list li {
  margin: 0;
  transition: background-color 0.3s ease;
  min-width: 200px;
}

.navigation-list a {
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navigation-list a:hover {
  background-color: #007bff;
  color: #fff;
}

.navigation-list a.active {
  background-color: #5a5a5a;
  color: #fff;
  border-radius: 5px;
}

/* Add focus for accessibility */
.navigation-list a:focus {
  outline: none;
  box-shadow: 0 0 3px 3px rgba(38, 143, 255, 0.5);
}

/* Hover effect on list items */
.navigation-list:hover {
  background-color: #e9ecef;
}
