<div class="card-list menu-btn">
  <div class="card menue-btn" routerLinkActive="active" routerLink="master">
    <div class="card-content">
      <h3>Projets</h3>
      <p></p>
    </div>
  </div>

  <div class="card menu-btn" (click)="loadMySubtask()" routerLinkActive="active"  routerLink="issue">
    <div class="card-content " >
      <h3>Mes taches</h3>
      <p>Tous mes tache</p>
    </div>
  </div>

  <div class="card" *ngFor="let filter of fileters" >

    <div class="card-content">
      <h3 class="edit" (click)="aplayFilter(filter)">Filtre </h3>
      <p (click)="editFilter(filter)"> {{filter.name}}  <i class="fas fa-edit" ></i> </p>

    </div>
  </div>
</div>
<ng-container>
  <router-outlet></router-outlet>
</ng-container>
