<div class="card-list menu-btn">
  <div class="card menue-btn" routerLinkActive="active" routerLink="master">
    <div class="card-content">
      <h3>Projets</h3>
      <p></p>
    </div>
  </div>

  <div class="card">
    <div class="card-content menu-btn">
      <h3>Mes taches</h3>
      <p>Tous mes tache</p>
    </div>
  </div>
  <div class="card" (click)="aplayFilter()">

    <div class="card-content">
      <h3 class="edit" (click)=" editFilter()">Filtre <i class="fas fa-edit"></i></h3>
      <p>Ajous des filtre  </p>

    </div>
  </div>
 <router-outlet></router-outlet>
</div>
