@import "@fortawesome/fontawesome-free/css/all.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* styles.scss global */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@600&display=swap');
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  font-size: 1em;
  line-height: 1.714;
  margin-left: 0px;
  min-width: 100px;
  vertical-align: 2px;
  font-size: 14px;
  width: 100%;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 16px;
  letter-spacing: -.02em;
}
.cdk-overlay-container{
  z-index: 2000;
}
h1,h2,h3,h4 {
  font-size: 14px;
  font-weight: bold;
  color: #5a5a5a;
}
.save,.fa-edit {
  cursor: pointer;
  color: #4f8a5c;
}
.save:hover {
  cursor: pointer;
  color: #0568ae;
  font-weight: bolder;
}
.controle:hover{
  cursor: pointer;
  background-color: #e8f3e8;

}
.faild{
  color: #702930;
}
.success{
  color: #4f8a5c;
}
.lgModal > .modal-dialog {
  max-width: 900px !important;
  width: 80% !important;
  top: 50px;
}
.mdModal > .modal-dialog {
  max-width: 700px !important;
  width: 60% !important;
  top: 50px;
}

.smModal > .modal-dialog {
  max-width: 500px !important;
  width: 40% !important;
  top: 50px;
}
.fullModal > .modal-dialog {
  max-width: 100% !important;
  width: 100% !important;
  height: 100vh;
  margin: 0;
  top: 0;
}
selected{
  background-color: #1c4587;
}
.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;

  -webkit-line-clamp: var(--lines, 1);
  line-clamp: var(--lines, 1);
  -webkit-line-clamp: var(--lines);
  max-width: var(--max-w, 100%);
}
.clamp-w-sm  { --max-w: 200px; }
.clamp-w-md  { --max-w: 350px; }
.clamp-w-lg  { --max-w: 500px; }
.clamp-w-xl  { --max-w: 700px; }
.clamp-w-ch  { --max-w: 60ch;}
.customHeightModal > .modal-dialog {
  max-width: 700px !important;
  width: 70% !important;
  height: 500px; /* Hauteur personnalisée */
  top: 50px;
}
.centerModal > .modal-dialog {
  max-width: 700px !important;
  width: 60% !important;
  margin: auto; /* Centrage vertical */
  top: 20%;
  height: 500px !important;
}

.xlModal > .modal-dialog {
  max-width: 1090px !important;
  min-width: 771px !important;
  width: 95% !important;
  top:50px;
}
.title{
  font-size: 11px;
}
.xlModal{
  height: 4000px;
}


.mini-menu{
  padding: 10px 0;
  text-align: center;
}

.menu-btn {
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-btn.active {
  background-color: #e8f3e8;
}
.active {
  background-color: #e8f3e8;
}

.mat-mdc-menu-panel{
  max-width: 500px !important;
}
content {
  margin-top: 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-rows: 50px auto 50px;
  min-height: 100vh;
}
.modal-title{
  width: 100%;
}
.top-menu {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  background-image: linear-gradient(-45deg, #4f8a5c 0%, #4f8a5c 100%);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.navigation {
  list-style: none;
  width: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: start;

}

.navigation li {
  /*
  margin-right: 20px;
  */
  cursor: pointer;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navigation li a:hover {
  color: #bbb;
}
/* Style the logo */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.liste-menu{
  position: relative !important;
  top: -60px !important;
  left: 75px !important;
  margin: 0 !important;
  width: 200px;
}
.master-breadcrumb {
  position: relative !important;
  left: 100px !important;
  margin: 0 !important;
  min-width: 2000px;

}
.user-section {
  display: flex;
  align-items: center;
}
.content-with-left-menue{
  display: grid;
  grid-template-columns: 250px auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
}
.list-menu-with-left-right{
  display: grid;
  grid-template-columns: 250px auto 80px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  min-height: 80vh;
}
/* Conteneur principal de la carte */
.card-list.menu-btn {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin: 2px auto;
}
.filter-container {
  padding: 10px;
}

/* Titre des filtres */
.filter-title {
  font-size: 20px;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 15px;
}

/* Liste des éléments */
.navigation-list {
  list-style-type: none; /* Supprimer les puces */
  padding: 0;
  margin: 0;
}
.navigation-list li:hover {
  background-color: #cccccc;
  cursor: pointer;

}
/* Élément individuel de filtre */
.filter-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease; /* Transition fluide */
}

.filter-item:hover {
  background-color: #f1f1f1;
  border-color: #4f8a5c;
}
.filter-item.active {
  background-color: #f1f1f1;
  border-color: #4f8a5c;
}
.filter-link {
  color: #4f8a5c;
  text-decoration: none;
  font-size: 16px;
  flex-grow: 1;
}

.edit-icon {
  font-size: 16px;
  cursor: pointer;
  color: #4f8a5c;
}

.new-filter-btn {
  background-color: #e9f7e9;
  color: #0f5132;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.new-filter-btn:hover {
  background-color: #d4edda;
}

.add-icon {
  font-size: 18px;
  margin-left: 8px;
  color: #0f5132;
}

.user-section img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-section .username {
  font-weight: bold;
}

/* Style the user dropdown */
.user-dropdown {
  position: relative;
}

.user-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.user-dropdown-content .item {
  color: #333;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.user-dropdown-content .item :hover {
  background-color: #ddd;
  cursor: pointer;
}

.user-dropdown:hover .user-dropdown-content {
  display: block;
}

.menu {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item {
  display: block;
  color: #333;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.menu-item-hover:hover {
  background-color: #e6e6e6;
}

.menu-item.active {
  background-color: #d4d4d4;
}

/* Styles pour les icônes */
.menu-item i {
  font-size: 20px;
  color: #666;
}

.content {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  background-color: #fff;
  padding: 10px;
  align-items: center;

}
.list-group{
  min-width:50%;
  margin: auto;
}
.modern-list li {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2px;
  overflow: hidden;
  height: 60px;
  border: 1px solid #ddd;
}

.item {
  flex: 1;
  padding: 15px;
  color: #333;
  display: flex;
  align-items: start;
}
h3 {
  margin: 0;
  font-size: 15px;
}

.details p {
  margin: 0;
  color: #777;
}
.item {
  color: #333;
  display: flex;
  align-items: center;
}
.status-item{
  margin-right: 30px;
}
.item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.modern-list li:nth-child(odd) {
  background-color: #f8f8f8;
}


.inactive {
  background-color: red;
  color: white;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;

}
.pointer{
  cursor: pointer;
}
.pending {
  background-color: yellow;
  color: black;
}
.photo {
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: auto;
  border-radius: 4px;
}
.avatar__img--circle {
  border-radius: 50%;
  object-fit: cover;
}
.footer {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

/* Style for footer links */
.footer-links {
  display: flex;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Style for social icons */
.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-right: 10px;
}
.icon-spacing {
  margin-right: 10px;
}
.social-icons a:hover {
  color: #bbb;
}
.custom-dialog .modal-dialog {
  margin: 0;
  transform: none;
  transition: all 0.3s ease;
  z-index: 1050;
}
#global-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 9999;
  transition: opacity 0.3s ease;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3f51b5;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 100%; /* Switch to single column layout */
  }

  .left-menu {
    display: none; /* Hide left menu on smaller screens */
  }
}
.toast-container {
  top: 100vh !important;
  right: 0;
  transform: translateY(-100%);
  position: fixed;
  width: 100%;
}
/*!* Position du toast *!
.custom-toast-position {
  top: 90vh !important;
  right: 0;
  transform: translateY(-100%);
  position: fixed;
}*/
.custom-toast-small {
  font-size: 13px !important;
  padding: 6px 10px !important;
  border-radius: 6px !important;
  min-width: 200px !important;
  max-width: 260px !important;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15) !important;
}


.toast-success {
  background-color: #4caf50 !important;
  color: white !important;
}


.toast-error {
  background-color: #702930 !important;
  color: white !important;
}

.toast-warning {
  background-color: #ff9800 !important;
  color: white !important;
}

.toast-info{
  background-color: #2196f3 !important;
  color: white !important;
}
.issue-list{
  display: grid;
  grid-row-gap: 20px;
}
.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.icon-container {
  width: 00px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {

  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pending {
  background-color: #ffc107; /* Jaune */
}

.in-progress {
  background-color: #17a2b8; /* Bleu */
}

.closed {
  background-color: #dc3545; /* Rouge */
}

.resolved {
  background-color: #28a745; /* Vert */
}


.card-content {
  text-align: center;
}

.card-content h3 {
  margin-top: 0;
  font-size: 18px;
}

.card-content p {
  margin-bottom: 0;
  color: #666;
}
.content-chip{
  cursor: inherit;
  display: flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 12px;
}
.error-container {
  margin-bottom: 8px;
  height: 18px;
  font-size: small;
  color: #f12828;

  span {
    display: block;
  }
  .user-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #007bff;
  }
  .ql-editor {
    border: 2px solid red !important;
  }
  .upload-btn {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    background-color: #3f51b5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
  }

  .upload-btn:hover {
    background-color: #4f8a5c;
    transform: scale(1.05);
  }

  .upload-btn:active {
    transform: scale(1);
  }
  .bouton{
    color: #4f8a5c;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    background-color: #f7f9fc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: color 0.3s, box-shadow 0.3s;
    margin-right: 10px;
  }
  .new-button {
    background-color: #6200ea; /* Couleur de fond violet */
    color: #ffffff; /* Texte en blanc */
    font-weight: 500;
    border-radius: 4px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 500px;
  }

  /* Effet au survol */
  .new-button:hover {
    background-color: #3700b3;
    transform: translateY(-2px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }

  /* Effet au focus */
  .new-button:focus {
    outline: none;
    box-shadow: 0px 0px 6px rgba(98, 0, 234, 0.8); /* Lueur violette autour du bouton */
  }
  .xModal-fullscreen { /* Nouveau nom pour clarifier qu'elle est "vraiment" plein écran */
    .modal-dialog {
      max-width: 100vw; /* Prend toute la largeur du viewport */
      width: 100vw;
      margin: 0; /* Plus de marge pour coller aux bords */
    }

    .modal-content {
      height: 100vh; /* Prend toute la hauteur du viewport */
      border-radius: 0; /* Enlève les coins arrondis pour un look plein écran */
      display: flex;
      flex-direction: column;
    }
  }
}
.planning-panel {
.mat-mdc-menu-panel {
  max-width: none !important;
  max-height: 85vh !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12) !important;
}

.mat-mdc-menu-content {
  padding: 0 !important;
}
}
