
<div class="list-menu-with-left-right">
  <div class="card-list menu-btn">
    <div class="filter-container">
      <div (click)="createIssueMaster()">
        Nouveau projet
      </div>
      <h1 class="filter-title">Gérer les filtres de recherche</h1>
      <ul class="navigation-list">
        <li  class="filter-item"  [ngClass]="{'active':noFilter.id === selectedFilter?.id}">
          <a class="filter-link" (click)="selectFilter(noFilter)" >
            {{ noFilter.name }}
          </a>
        </li>
        <li *ngFor="let filter of masterFilter" class="filter-item" [ngClass]="{'active':filter?.id === selectedFilter?.id}">
          <a class="filter-link" (click)="selectFilter(filter)" >
            {{ filter.name }}
            <i class="fas fa-edit edit-icon"  style="float: right" (click)="editFilter($event, filter)"></i>
          </a>
        </li>
        <li class="new-filter-btn" (click)="newParentFilter($event)">
          Nouveau filtrse <i class="fas fa-plus add-icon"></i>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <div *ngIf="currentView ==='list'">
      <app-issue-master-list ></app-issue-master-list>
    </div>
    <div *ngIf="currentView ==='board'">
      <app-board-list [searchCriteria] = "searchCriteria"></app-board-list>
    </div>
    <div *ngIf="currentView ==='calendar'">
      <app-calendar-list ></app-calendar-list>
    </div>  </div>
  <div>
    type
  </div>
</div>

