<form #f="ngForm"  novalidate style="min-width: 500px" (click)="clickMenu($event)">
  <div class="form-group">

    <!-- Project (avec mat-menu) -->
      <div *ngIf="isMaster">
        <h2 mat-button [matMenuTriggerFor]="projectMenu" color="primary"  #subMenuTrigger="matMenuTrigger">
          Créer une demande pour l'équipe de :
          <i>{{ project?.name || 'Aucun' }}</i>
          <i class="fas fa-edit" style="float: right"> </i>
        </h2>
        <mat-menu #projectMenu="matMenu"  >
          <button mat-menu-item *ngFor="let pr of projects" (click)="selectProject($event,subMenuTrigger,pr)">
            <i class="fas fa-plus"></i>
            {{ pr.name }}
          </button>
        </mat-menu>
      </div>



      <div >
        <button mat-button [matMenuTriggerFor]="typeMenu" color="primary" #subMenuIssuType="matMenuTrigger">
          Type de demande :
          <strong>{{ issueType?.name || 'Aucun' }}</strong>
          <i class="fas fa-edit" style="float: right"> </i>

        </button>
        <i class="fas fa-ellipsis-v" style="float: right;cursor: pointer"> </i>
      </div>

    <mat-menu #typeMenu="matMenu" >
      <button mat-menu-item *ngFor="let type of useIssueType" (click)="selectIssueType($event,subMenuIssuType,type)">
        {{ type.name }}
      </button>
    </mat-menu>

    <!-- Titre -->
    <mat-form-field style="width: 100%">
      <mat-label>Titre</mat-label>
      <input matInput
             name="summary"
             required
             [(ngModel)]="summary"
             #summaryField="ngModel"
             [ngModelOptions]="{standalone: true}" />
      <mat-error *ngIf="summaryField.invalid && (summaryField.dirty || f.submitted)">
        Le titre est requis
      </mat-error>
    </mat-form-field>
    <label>Description</label>
    <app-quill-editor  [(content)]="description" [theme]="'snow'"></app-quill-editor>



    <!-- Boutons -->
    <div class="form-actions" style="text-align: right;">
      <!-- Clé -->
      <mat-form-field style="width: 50%">
        <mat-label>Clé</mat-label>
        <input matInput
               name="issueKey"
               required
               [(ngModel)]="issueKey"
               #key="ngModel"
               [ngModelOptions]="{standalone: true}" />
        <mat-error *ngIf="key.invalid && (key.dirty || f.submitted)">
          La clé est requise
        </mat-error>
      </mat-form-field>
      <button mat-button type="button" (click)="cancel()" [disabled]="saving">Annuler</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!canCreate()" (click)="save(f)">Créer</button>
    </div>
  </div>



</form>
