<div class="label-trigger" [matMenuTriggerFor]="lebelMenu">
  <span class="label-add" *ngIf="!issue.labels || issue.labels.length == 0">
    <i class="fas fa-plus"></i> Etq
  </span>
  <span class="label-chip" *ngFor="let ils of issue.labels"
        [style]="getLabelStyle(ils.label)"
        [title]="ils.label.name">
    {{ils.label.name}}
  </span>
</div>

<mat-menu #lebelMenu="matMenu" class="label-menu">
  <div class="label-panel" (click)="clickMenu($event)" *ngIf="authGuard.hasAutorityAsync(['CAN_CREATE_TASK']) | async">
    <h3 class="label-panel-title">Etiquette</h3>

    <div class="label-row" *ngFor="let label of labels">
      <ng-container *ngIf="!isEdit(label)">
        <mat-checkbox class="label-check"
                      (change)="checkLabel($event,label)"
                      [checked]="checkedLabel(label)">
          <span class="label-chip" [style]="getLabelStyle(label)" [title]="label.name">
            {{ label.name }}
          </span>
        </mat-checkbox>
        <i class="fas fa-edit label-action"
           (click)="editLabel(label)"
           *ngIf="projectGuard.hasCredential(['PROJECT_MANAGER'])"></i>
      </ng-container>

      <form class="label-edit" *ngIf="isEdit(label)" [formGroup]="myForm" (ngSubmit)="update()">
        <mat-form-field class="label-field" subscriptSizing="dynamic">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="name">
          <ngx-colors matSuffix ngx-colors-trigger
                      [(ngModel)]="currentLabel.color"
                      [ngModelOptions]="{standalone: true}">
          </ngx-colors>
        </mat-form-field>
        <button class="label-btn" mat-button type="submit">Valider</button>
      </form>
    </div>

    <p class="label-create" (click)="createLabel()"><i class="fas fa-plus"></i> Créer</p>

    <form class="label-edit" *ngIf="iscreateLabel" [formGroup]="myForm" (ngSubmit)="update()">
      <mat-form-field class="label-field" subscriptSizing="dynamic">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name">
        <ngx-colors matSuffix ngx-colors-trigger
                    [(ngModel)]="labColor"
                    [ngModelOptions]="{standalone: true}">
        </ngx-colors>
      </mat-form-field>
      <button class="label-btn" mat-button type="submit">Valider</button>
    </form>
  </div>
</mat-menu>
