<div style="height: 40px;overflow-x: visible;overflow-y:visible " mat-icon-button [matMenuTriggerFor]="lebelMenu">
  <span *ngIf="!issue.labels || issue.labels.length == 0"><span  class="btn fas fa-plus"> Etq </span> </span>
  <span class="label-chip" *ngFor="let ils of issue.labels">
    {{ils.label.name}}
  </span>
</div>

<mat-menu #lebelMenu="matMenu" >
  <div (click)="clickMenu($event)" *ngIf="authGuard.hasAutorityAsync(['CAN_CREATE_TASK']) | async">
    <div class="issue-children-config" >
      <h3>Etiquette </h3>
      <mat-checkbox *ngFor="let label of labels"
                    (change)="checkLabel($event,label)"
                    [checked]="checkedLabel(label)"
      >
        {{ label.name }}
      </mat-checkbox>
      <p (click)="createLabel()"><i class="fas fa-plus"></i> Créer </p> </div>
    <div style="padding-left: 20px" *ngIf="iscreateLabel" >
      <form [formGroup]="myForm" (ngSubmit)="onSubmit();">
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <button mat-button type="submit" >Valider</button>
      </form>
    </div>
  </div>


</mat-menu>

