<div class="wi100" >


  <div class="comment-list">
    <div class="comment-item" *ngFor="let comment of comments">
      <img [src]="comment.user.photo" class="user-avatar" alt="Avatar" [title]="comment.user.firstName+' '+comment.user.lastName">
      <div class="comment-content">
        <p class="comment-text">{{comment.text}} </p>
        <p class="comment-user">{{comment.user.firstName}}</p>
      </div>
    </div>
  </div>
  <div class="comment-form">
    <textarea [(ngModel)]="comment.text" placeholder="Ajouter un commentaire"></textarea>
    <button (click)="addComment()">Ajouter</button>
  </div>
</div>
