
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Flux de traveau</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Work flow name" formControlName="nameCtrl" required [(ngModel)]="workFlow.name" >
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="save()" [disabled]="!firstFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step >
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Etat </ng-template>
      <div *ngIf="workFlow.statuses!=undefined ">
        <h1> Liste des etat possible </h1>

    <div *ngFor="let state of workFlow.statuses">
          <app-states-form [inputState]="state"
                           [editing]="false" [exemple]="'Resolve '"
                           class="field-item"
                           (onComplete)="addStatus($event)"
          >
          </app-states-form>
        </div>
      </div>
      <app-states-form [inputState]="null"
                       [editing]="true" [exemple]="' Todo'"
                       class="field-item"
                       (onComplete)="addStatus($event)"
                       *ngIf="isCreateState"
      >
      </app-states-form>
      <span (click)="createState()"> Nouveau etat </span>

      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
      <div style="padding: 10px">
        <span fxFlex></span>
        <button mat-raised-button class="btn success" color="primary" (click)="onSaveClick()"><span> Terminer </span></button>
      </div>
    </form>
  </mat-step>

</mat-stepper>
