<div class="file-group-container"  >

  <div class="file-list-full" [ngClass]="{'file-list-with-selected': (selectedFile || isNewFile), 'file-list-not ':!(selectedFile || isNewFile)}" >
    <div class="card" *ngIf="!isNewFile" (click)="createUpload()">
      <div class="content details" >
        <p><i class="fas fa-plus"></i> Creer une uploads </p>
      </div>
    </div>
    <div *ngFor="let document of documents let i = index" >

      <mat-expansion-panel   [expanded]="step() === i || defaultOpen" (opened)="setStep(1)" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>
              <small>{{ document.creation | date | date }} - Par {{ document.userApp.username }}</small>
          </span>
          </mat-panel-title>
          <mat-panel-description>
            <h2>{{document.titre}}</h2>
          </mat-panel-description>

        </mat-expansion-panel-header>
        <div [innerHTML]="document.description "></div>

        <div *ngIf="document.uploadeds && document.uploadeds.length != 0"> Fichier </div>
        <div class="file-item-list">
          <div class="file-item" *ngFor="let up of document.uploadeds"   [ngClass]="{'selected-file':up.id === selectedFile?.id}">
            <i [class]="getFileIconClass(up.name.toString())"></i> <span (click)="selectFile(up)"> {{up.name}} </span>
            <a [href]="issueService.downloadUploadedUrl(up)" style="float: right;" > . <i class="fa fa-download"></i></a>
          </div>
        </div>
        <mat-action-row>
          <button mat-button (click)="prevStep()">Previous</button>
          <button mat-button (click)="nextStep()">End</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-divider style="margin: 24px 0;"></mat-divider>
    </div>
  </div>

  <div class="file-preview-container" *ngIf="selectedFile || isNewFile" >
    <div class="file-preview" *ngIf="!isNewFile" >
     <app-pdf-overview *ngIf="isPdfSelected()" [setUploaded]="selectedFile"> </app-pdf-overview>
    </div>
    <div *ngIf="isNewFile" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
      <div>
        <form #f="ngForm" (ngSubmit)="upload()">
          <div class="form-group" #parent>
            <mat-form-field style="width: 100%">
              <mat-label>Titre </mat-label>
              <input matInput
                     cdkTextareaAutosize
                     cdkAutosizeMinRows="1"
                     [(ngModel)]="document.titre"
                     [ngModelOptions]="{standalone: true}"
                     cdkAutosizeMaxRows="5"/>
            </mat-form-field>
            <div style="width: 100%;min-height: 100px" >
              <app-quill-editor [(content)]="document.description"></app-quill-editor>
            </div>
          </div>
        </form>
      </div>
      <div
        (click)="fileInput.click()"
        class="file-drop-zone">
        <input type="file" multiple (change)="onFileSelected($event)" hidden #fileInput>
        <p>Glissez-déposez vos fichiers ou cliquez pour les sélectionner</p>
      </div>
      <div>
        <ul *ngIf="filesToUploads">
          <div *ngFor="let up of uploadings; let i = index" class="file" [ngClass]="up.status">
            <label class="file" > <i class="fa fa-file-text"> </i>
              {{ up.file.name}}
            </label>
            <span (click)="removeFile(i)" style="float: right;"> {{ up.status }} <i class="fa fa-remove"></i></span>
          </div>
          <div>
            <button class="upload-btn" (click)="upload()">Uploader</button>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
