<div class="hero">
  <div class="hero-content">
    <h1 class="hero-title">
      Bienvenue sur <span class="highlight">Votre Plateforme</span>
    </h1>
    <p class="hero-subtitle">
      Organisez, attribuez et suivez les tâches de votre équipe de manière efficace et collaborative.<span class="wave">👋</span>
    </p>
    <button mat-raised-button color="primary" (click)="start()">Commencez</button>
  </div>
  <canvas id="background-animation"></canvas>
</div>

<section id="features" class="features">
  <h2 class="section-title">Avantage </h2>
  <div class="features-grid">
    <mat-card class="feature" *ngFor="let feature of features">
      <mat-icon class="feature-icon">{{ feature.icon }}</mat-icon>
      <h3>{{ feature.title }}</h3>
      <p>{{ feature.description }}</p>
    </mat-card>
  </div>
  <button type="button" class="btn btn-primary"
          [ngbPopover]="formTemplate"
          popoverTitle="Formulaire"
          triggers="click:click"
          placement="auto">
    Ouvrire
  </button>

  <ng-template #formTemplate>
    <form (ngSubmit)="onSubmit()" #f="ngForm" style="width: 200px;">
      <div class="mb-2">
        <label>Nom :</label>
        <input name="nom" ngModel class="form-control">
      </div>
      <div class="mb-2">
        <label>Email :</label>
        <input name="email" ngModel type="email" class="form-control">
      </div>
      <button class="btn btn-success w-100" type="submit">Envoyer</button>
    </form>
  </ng-template>


</section>

