<div class="list-menu-with-left-right">
  <!-- Liste des discussions -->
  <div class="chat-list">
    <div *ngFor="let canal of canals"
         class="chat-item"
         [class.active]="canal === selectedCanall"
         (click)="selectChat(canal)">
      <img [src]="messageService.getPhoto(canal)" alt="Avatar" class="avatar">
      <div class="chat-info">
        <div class="chat-name">{{ chatName(canal) }}</div>
        <div class="chat-last-message" *ngIf="canal.messageApp">{{ canal.messageApp[canal.messageApp.length - 1]?.text || 'Aucun message' }}</div>
      </div>
    </div>
    <div class="chat-item" [matMenuTriggerFor]="newCanal">
      Nouveau message
    </div>
  </div>

  <!-- Zone de chat -->
  <div class="chat-container">
    <div class="chat-header">
      <img *ngIf="selectedCanall" [src]="messageService.getPhoto(selectedCanall)" alt="Avatar" class="avatar">
      {{chatName(selectedCanall) || 'Sélectionnez une discussion' }}
    </div>

    <div class="messages">
      <div style="align-items: center">
        <span style="align-items: center">
                  Achange avec {{ chatName(selectedCanall)}}

        </span>
      </div>
      <div *ngFor="let message of selectedCanall?.messageApp" class="message" [class.sent]="messageService.senderIsMe(message)">
        <span >
         <img *ngIf="!messageService.senderIsMe(message)" [src]="messageService.getSenderPhoto(message)" alt="Avatar" class="avatar">
        <span class="message-content">{{ message.text }}</span>
        </span>
      </div>
    </div>

    <div class="input-container">
      <input [(ngModel)]="newMessage" placeholder="Tapez un message..." />
      <button (click)="sendMessage()">Envoyer</button>
    </div>
  </div>
</div>
<mat-menu #newCanal="matMenu">
  <div class="card" style="margin-top: 15px;padding-top: 5px;padding-bottom: 5px">
    <h1> Membre  </h1>
    <div class="sidebar-heding ">
      <div *ngFor="let user of userToCanal" (click)="stopPropagation($event)">
        <mat-checkbox
          [checked]="isSelectedUser(user.id)"
          (change)="selectUser($event, user)"
          class="custom-checkbox"
        >
          {{ user.username }}
        </mat-checkbox>

      </div>
     <div (click)="createCanal()" *ngIf="this.selectedUsers.length > 0">  Créer</div>
    </div>
  </div>
</mat-menu>
