<span class="assigne" style="cursor: pointer">
  <span [matMenuTriggerFor]="menu2" mat-icon-button class="assigne-trigger">
    <span class="avatar-stack" *ngIf="assignees.length > 0">
      <img *ngFor="let user of visibleAssignees"
           [src]="userService.getUrlPhoto(user)"
           [title]="displayName(user)"
           [alt]="displayName(user)"
           class="image"/>
      <span class="avatar-more" *ngIf="hiddenCount > 0" [title]="assignees.length + ' assignés'">+{{ hiddenCount }}</span>
    </span>
    <img *ngIf="assignees.length == 0" src="/assets/nonAssigner.jpg" alt="non assigner" class="image"/>
    <b class="assigne-label">{{ assigneesLabel }}</b>
  </span>

  <mat-menu #menu2="matMenu" class="assigne-menu">
    <div *ngIf="projectGuard.hasCredential(['CAN_ASSIGN_TASK']) | async"
         (click)="stopPropagation($event)" class="assigne-panel">
      <div class="assigne-panel-header">
        <h4> Assigner à </h4>
        <input type="text" class="assigne-search" placeholder="Rechercher un membre..."
               [(ngModel)]="searchTerm" (click)="stopPropagation($event)"/>
      </div>

      <div class="assigne-list">
        <button mat-menu-item *ngFor="let user of filteredUsers" (click)="toggleUser(user, $event)"
                [disabled]="saving"
                [ngClass]="{'active': isActive(user)}">
          <mat-checkbox [checked]="isActive(user)"></mat-checkbox>
          <img [src]="userService.getUrlPhoto(user)" [alt]="displayName(user)" width="30px" class="image"/>
          <span>{{ user.firstName }} {{ user.lastName }}</span>
        </button>
        <div class="assigne-empty" *ngIf="filteredUsers.length == 0"> Aucun membre trouvé </div>
      </div>

      <div class="assigne-panel-footer">
        <span class="assigne-count">{{ assignees.length }} assigné(s)</span>
        <button type="button" class="assigne-clear" (click)="clearAssignment($event)"
                [disabled]="saving || assignees.length == 0"> Tout retirer
        </button>
      </div>
    </div>
  </mat-menu>
</span>
