<div class="task-page">
  <div class="task-container">


    <!-- Section des commentaires -->
    <mat-card class="comments-section">
      <mat-card-header>
        <mat-card-title>Commentaires</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="comment-list">
          <div class="comment" *ngFor="let comment of comments">
            <div class="comment-header">
              <img
                *ngIf="comment.user.photo"
                [src]="userService.getUrlPhoto(comment.user)"
                alt="{{ comment.user.username }}"
                class="user-photo"
              />
              <span class="user-name">{{ comment.user.firstName }}
                <small class="text-body-secondary" *ngIf="comment.date">{{ comment.date | date }}</small>
            </span>
            </div>
            <p class="comment-text" [innerHTML]="comment.text"></p>
          </div>
        </div>

        <app-quill-editor [(content)]="comment.text" [theme]="'snow'"></app-quill-editor>
        <div class="file-item" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
          <div>
            <div class="upload-area" (click)="selectFiles()">
              <div>
                <ul *ngIf="filesToUploads">
                  <div *ngFor="let up of uploadings; let i = index" class="file" [ngClass]="up.status">
                    <label class="file"> <i class="fa fa-file-text"> </i>
                      {{ up.file.name }}
                    </label>
                    <span (click)="removeFile(i)" style="float: right;"> {{ up.status }} <i
                      class="fa fa-remove"></i></span>
                  </div>

                </ul>
              </div>

              <div
                (click)="fileInput.click()"


                class="file-drop-zone">
                <input type="file" multiple (change)="onFileSelected($event)" hidden #fileInput>
                <p>Glissez-déposez vos fichiers ou cliquez pour les sélectionner</p>
              </div>

            </div>
          </div>
        </div>
        <button mat-raised-button color="primary" class="float-end" (click)="addComment()">
          Commenter
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
