<div class="task-page">
  <div class="task-container">

    <!-- Section des commentaires -->
    <mat-card class="comments-section">
      <mat-card-header>
        <mat-card-title>Commentaires</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <!-- Liste des commentaires -->
        <div class="comment-list">
          <div class="comment" *ngFor="let document of documents">

            <img
              *ngIf="document.userApp.photo"
              [src]="userService.getUrlPhoto(document.userApp)"
              alt="{{ document.userApp.username }}"
              class="user-photo"
            />
            <div class="user-avatar-placeholder" *ngIf="!document.userApp.photo">
              {{ document.userApp.firstName?.charAt(0) }}
            </div>

            <div class="comment-body">
              <div class="comment-header">
                <span class="user-name">{{ document.userApp.firstName }}</span>
                <small class="comment-date" *ngIf="document.creation">{{ document.creation | date:'short' }}</small>
                <span class="comment-actions">
                  <app-document-menu [document]="document"></app-document-menu>
                </span>
              </div>

              <p class="comment-text" [innerHTML]="document.description"></p>

              <div *ngIf="document.uploadeds && document.uploadeds.length != 0" class="file-item-list">
                <div class="file-item" *ngFor="let up of document.uploadeds">
                  <i class="fas fa-file-pdf"></i>
                  <span class="file-name">{{ up.name }}</span>
                  <a [href]="issueService.downloadUploadedUrl(up)" class="file-download" title="Télécharger">
                    <i class="fa fa-download"></i>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>

        <mat-divider class="section-divider"></mat-divider>

        <!-- Zone d'ajout de commentaire -->
        <div class="add-comment">
          <app-quill-editor [(content)]="document.description" [theme]="'snow'"></app-quill-editor>

          <div class="upload-area" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
            <div class="file-drop-zone" (click)="fileInput.click()">
              <i class="fa fa-cloud-upload-alt"></i>
              <p>Glissez-déposez vos fichiers ou cliquez pour les sélectionner</p>
              <input type="file" multiple (change)="onFileSelected($event)" hidden #fileInput>
            </div>

            <ul class="upload-list" *ngIf="filesToUploads && uploadings?.length">
              <li *ngFor="let up of uploadings; let i = index" class="upload-file" [ngClass]="up.status">
                <i class="fa fa-file-text"></i>
                <span class="upload-file-name">{{ up.file.name }}</span>
                <span class="upload-status">{{ up.status }}</span>
                <i class="fa fa-remove upload-remove" (click)="removeFile(i)"></i>
              </li>
            </ul>
          </div>

          <div class="comment-actions-bar">
            <button mat-raised-button color="primary" (click)="addDocument()">
              Commenter
            </button>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
