<div class="task-page">
  <div class="task-container">


    <!-- Section des commentaires -->
    <mat-card class="comments-section">
      <mat-card-header>
        <mat-card-title>Commentaires</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="comment-list">
          <div class="comment" *ngFor="let document of documents">
            <div class="comment-header">
                <span style="float:right">
                 <app-document-menu [document]="document"></app-document-menu>
               </span>
              <img
                *ngIf="document.userApp.photo"
                [src]="userService.getUrlPhoto(document.userApp)"
                alt="{{ document.userApp.username }}"
                class="user-photo"
              />
              <span class="user-name">{{ document.userApp.firstName }}
                <small class="text-body-secondary" *ngIf="document.creation">{{ document.creation | date }}</small>
            </span>
            </div>
            <div style=" margin-left: 10px;padding-left: 1px">
              <p class="comment-text" [innerHTML]="document.description"></p>
              <div *ngIf="document.uploadeds && document.uploadeds.length != 0" class="file-item-list">
                <div> Fichier </div>

                <div class="file-item" *ngFor="let up of document.uploadeds" style="padding-left:50px"><i class="fas fa-file-pdf"></i> {{up.name}}
                  <a [href]="issueService.downloadUploadedUrl(up)" style="margin-left: 20px" > <i class="fa fa-download"></i></a>
                </div>
              </div>
            </div>
            <mat-divider _ngcontent-ng-c3949266393="" role="separator" class="mat-divider mat-divider-horizontal" style="margin: 24px 0;" aria-orientation="horizontal"></mat-divider>

          </div>
        </div>

        <app-quill-editor [(content)]="document.description" [theme]="'snow'"></app-quill-editor>
          <div class="file-item" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
          <div>
            <div class="upload-area" (click)="selectFiles()">
              <div>
                <ul *ngIf="filesToUploads">
                  <div *ngFor="let up of uploadings; let i = index" class="file" [ngClass]="up.status">
                    <label class="file"> <i class="fa fa-file-text"> </i>
                      {{ up.file.name }}
                    </label>
                    <span (click)="removeFile(i)" style="float: right;"> {{ up.status }} <i
                      class="fa fa-remove"></i></span>
                  </div>

                </ul>
              </div>
              <!--<div *ngFor="let file of group.files" (click)="selectFile(file)" class="file-item">
                          <p>{{ file.name }}</p>
                          <p><small>{{ file.uploadDate }} - Par {{ file.uploadedBy }}</small></p>
                          <p><small>{{ file.fileDescription }}</small></p>
                        </div>-->
              <div

                (click)="fileInput.click()"


                class="file-drop-zone">
                <input type="file" multiple (change)="onFileSelected($event)" hidden #fileInput>
                <p>Glissez-déposez vos fichiers ou cliquez pour les sélectionner</p>
              </div>

            </div>
          </div>
          </div>
        <button mat-raised-button color="primary" class="float-end" (click)="addDocument()">
          Commenter
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
