<div class="grid-container">
  <div class="top-menu">
    <div class="logo" [routerLink]=""><img [src]="logoUrl" alt="VOTRE LOGO" height="50px" [matMenuTriggerFor]="choixLogo">
      <button *ngIf="tempLogo" (click)="saveLogo()"> save </button>
    </div>
    <mat-menu #choixLogo = "matMenu" (click) = "$event.stopPropagation()">
      <div *ngIf="systemGuerd.hasAutorityAsync(['ADMIN']) | async"
        (click)="fileInput.click()"
        class="file-drop-zone">
        <input type="file"  (change)="selectLogo($event)" hidden #fileInput>
        <p>Selectionner une image </p>
      </div>
    </mat-menu>
    <ul class="navigation">
      <li><a routerLink="" ariaCurrentWhenActive="page">Home</a></li>
      <!--<li>
        <div class="user-dropdown">
          <span class="username">Projet</span>
          <div class="user-dropdown-content">
            <div class="item controle"  *ngFor="let project of projects" (click)="selectProject(project)">{{project.name}}</div>
            <div class="item controle" *ngIf="authGuard.hasAutorityAsync(['CAN_CREATE_PROJECT']) | async"  routerLink="admin/working/create"> Creer </div>
          </div>
        </div>
      </li>-->
      <li><a routerLink="admin/users" *ngIf="authGuard.hasAutorityAsync(['CAN_CONFIGURE_SYSTEM']) | async" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a></li>
    </ul>
    <div class="user-section">
      <div class="notification-icon" [matMenuTriggerFor]="notificationMenu" (click)="seenNotification()">
         <i class="fas fa-bell"></i> <!-- Icône de notification -->
        <span class="badge" *ngIf="unrededNofication != 0"> {{unrededNofication}}</span>
      </div>
      <div class="user-dropdown">
        <img [src]="userService.getUrlPhoto(profile)" alt="P">
        <span class="username">{{profile.firstName}} {{profile.lastName}}</span>
        <div class="user-dropdown-content">
          <div class="item controle" (click)="myProfile()" >Profile</div>
          <div class="item controle" href="#">Settings</div>
          <div class="item controle" (click)="logout()" >Logout </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content"   >
    <router-outlet ></router-outlet>
  </div>

  <div class="footer">
    <!-- Footer links -->
    <div class="footer-links">
      <a href="#">Home</a>
      <a href="#">About Us</a>
      <a href="#">Services</a>
      <a href="#">Contact</a>
    </div>
    <!-- Social icons -->
    <div class="social-icons">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-linkedin"></a>
    </div>
  </div>
  <mat-menu #notificationMenu ="matMenu" [ngStyle]="{'width': '600px'}" >
   <app-notifications [notifications]="notifications"></app-notifications>
  </mat-menu>
</div>



