<div class="breadcrumb">
  <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index">
    <div class="breadcrumb-item">
      <a (click)="toggleSubMenu(i)">{{ breadcrumb.name }}</a>


      <div *ngIf="activeSubMenu === i" class="sub-menu">
        <ng-container *ngFor="let subItem of breadcrumb.others">
          <a [routerLink]="subItem.path">{{ subItem.name }}</a>
        </ng-container>
      </div>
    </div>

    <!-- Séparateur -->
    <span *ngIf="i < breadcrumbs.length - 1" class="separator">›</span>
  </ng-container>
  <ng-container>
    <div class="breadcrumb-item" (click)="newMaster()">
      <a> Nouveau tache principale   </a>
    </div>
  </ng-container>
</div>
