<div class="breadcrumb">
  <ng-container >
    <div class="breadcrumb-item" [matMenuTriggerFor]="master_list" >
      <a>{{issue?.issueKey+':'+issue?.summary}}   </a>
    </div>
  </ng-container>
  <ng-container *ngIf="projectGuard.hasCredential(['PROJECT_MANAGER']) | async">
    <div class="breadcrumb-item"  (click)="createIssueMaster()" >
      <a> Créer   </a>
    </div>
  </ng-container>
</div>
<mat-menu #master_list ="matMenu"  yPosition="below" #parentMenu="matMenu" xPosition="after" class="master-breadcrumb">
  <ul class="navigation-list" >
    <li *ngFor="let im of issueMasters" (click)="issueService.browsIssueMaster(im)"><a > <app-icone-view [icon]="im.issueType.icone"></app-icone-view> {{im.issueKey+':'+im.summary}}</a></li>

  </ul>
</mat-menu>
