<div class="smart-footer">
  <div class="footer-stack">
    <div class="smart-right">
     <div class="smart-right-stack">
        <div class="smart-right-item" [@slideInOut]  *ngIf="showNotif ==='canals'">
          <app-canals></app-canals>

        </div>
       <div class="smart-right-item" [@slideInOut] *ngIf="showNotif ==='message'">
         etooo

       </div>
       <div class="smart-right-item" [@slideInOut]  *ngIf="showNotif ==='notification'">
         <app-notifications [notifications]="notifications"></app-notifications>
       </div>
     </div>
    </div>
    <div  class="footer-item" (click)="setShowNotif('canals')">
      💬 Messages
      <img class="photo avatar__img--circle" [src]="userService.getUrlPhoto(connectedUser)" alt="P">

    </div>
    <div  class="footer-item" (click)="setShowNotif('notification')" >
      <div class="notification-icon" (click)="seenNotification()">
        <i class="fas fa-bell"> </i> <!-- Icône de notification -->
        <span class="badge" *ngIf="unrededNofication != 0"> {{unrededNofication}}</span>
        Notification
      </div>
    </div>
    <div class = "footer-item">
      <i class="fas fa-plus"></i>
      Créer une nouvelle demande
     </div>
    <div *ngFor="let item of chanelItems" class="footer-item" [@slideInOut]>
      <app-message [canal]="item"></app-message>
    </div>


  </div>
</div>

<mat-menu #notificationMenu ="matMenu" [ngStyle]="{'width': '6000px','max-height':'50vh'}" >
  <app-notifications [notifications]="notifications"></app-notifications>
</mat-menu>
