.projet{
  display: grid;
  grid-template-columns: 350px auto;
  min-height: 100%;
}
.project-content{
  margin: 5px;
  padding-left: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  grid-column: 2 / 3;
}
.navigation li a {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  transition: color 0.3s ease;
}

.project-title {
  top: 10px;
  right: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: default;
}

.project-title span {
  border-bottom: 2px solid #007bff;
}
.open-child {
  display: block;
}
.close-child {
  display: none;
}
