<div class="projet">
  <div class="project-menu">
    <div class="logo-card" >
      <!-- Logo -->
      <div class="logo-card-logo" [matMenuTriggerFor]="work_space">
        <img
          [src]="issueService.getImageProject(project)"
          alt="{{ project?.name }} Logo"
          class="logo-image"
        />
      </div>
      <!-- Titre du projet -->
      <div class="logo-card-body">
        <h5 class="logo-card-title">
          <i class="fa fa-briefcase workspace-icon"></i>
          <b>{{ project.prefix }}</b> - <i>{{ project?.name }}</i>
        </h5>
      </div>
    </div>


    <div class="project-menu-item controle  menu-item-hover"  [matMenuTriggerFor]="list_menue">
     <div>
       <i class="fas fa-tasks "  style="font-size: 30px;text-align: center"></i>
     </div>
     <h2 style="display: block;text-align: center" class="menu-item" > Liste</h2>

   </div>
    <div class="project-menu-item controle  menu-item-hover" routerLinkActive="active" routerLink="planning">
      <div>
        <i class="fas fa-calendar-alt "  style="font-size: 30px;text-align: center"></i>
      </div>
      <h2 style="display: block;text-align: center" class="menu-item" > Calendrier</h2>
    </div>
    <div class="project-menu-item controle  menu-item-hover" routerLinkActive="active" routerLink="config">
      <div>
        <i class="fas fa-cog "  style="font-size: 30px;text-align: center"></i>
      </div>
      <h2 style="display: block;text-align: center" class="menu-item" > Config</h2>
    </div>
  </div>
 <mat-menu #list_menue ="matMenu"  yPosition="below" #parentMenu="matMenu" xPosition="after" class="liste-menu">
   <ul class="navigation-list">
     <li><a routerLink="list/master" routerLinkActive="active">Project </a></li>
     <li><a routerLink="list/search-issue" routerLinkActive="active">Taches </a></li>

   </ul> </mat-menu>
  <mat-menu #work_space ="matMenu"  yPosition="below" #parentMenu="matMenu" xPosition="after" class="liste-menu">
    <div class="logo-card" *ngFor="let p of projects" (click)="selectProject(p)" [class]="p?.id === project?.id? 'selected' : ''">
      <!-- Logo -->
      <div class="logo-card-logo">
        <img
          [src]="issueService.getImageProject(p)"
          alt="{{ p?.name }} Logo"
          class="logo-image"
        />
      </div>
      <!-- Titre du projet -->
      <div class="logo-card-body">
        <h5 class="logo-card-title">
          <i class="fa fa-briefcase workspace-icon"></i>
          <b>{{ p.prefix }}</b> - <i>{{ p?.name }}</i>
        </h5>
      </div>
    </div>
  </mat-menu>

  <div class="project-content"
       [@workspace]="isworkspace ? 'end' : 'start'"
  >
<!--
    <app-breadcrumb (createMaster)="createMaster()"></app-breadcrumb>
-->
       <div  style="display: contents"

            [@routeAnimations]="getAnimationState(o)"
       >
         <router-outlet #o="outlet" ></router-outlet>
       </div>

  </div>
</div>
