/* Overall layout */
.projet {
  display: grid;
  grid-template-columns: 70px auto; /* Sidebar + Content */
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #f9fafb;  /* Light background */
}

/* Project content styling */
.project-content {
  margin: 15px;
  /*
  padding-left: 15px;
  */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  grid-column: 2 / 3;
  background-color: #ffffff;
  border-radius: 8px;
}


.project-title {
  font-size: 20px;
  font-weight: 600;
  color: #007bff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: default;
}

.project-title span {
  border-bottom: 2px solid #007bff;
}

.navigation-list {
  list-style: none;

}

.navigation-list li {
  margin: 0;
  transition: background-color 0.3s ease;
}

.navigation-list a {
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navigation-list a:hover {
  background-color: #007bff;
  color: #fff;
}

.navigation-list a.active {
  background-color: #5a5a5a;
  color: #fff;
  border-radius: 5px;
}

.navigation-list a:focus {
  outline: none;
  box-shadow: 0 0 3px 3px rgba(38, 143, 255, 0.5);
}

.navigation-list:hover {
  background-color: #e9ecef;
}
.logo-card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.logo-card-logo {
  width: 100%;
  overflow: hidden;
}

.logo-image {
  width: 80px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.logo-card-body {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.logo-card-title {
  font-size: 12px;
  line-height: 1.2;
  margin: 0;
  color: #333;
}

.workspace-icon {
  font-size: 16px;
  margin-right: 5px;
}

/* Menu styles */
.project-menu {
  padding-bottom: 20px;
  border-radius: 8px;

}

.menu ul {
  list-style: none;
  padding-left: 0;
}

.project-menu-item {
  padding-top: 30px;
  margin-bottom: 5px;
  color: #333; /* Dark text for better contrast */
  font-size: 20px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 5px;
}

/*.menu-item:hover {
  background-color: #cccccc; !* Bright blue on hover *!
  transform: translateX(10px);
  color: #fff; !* White text on hover *!
}*/

.project-menu-item i {
  margin: auto;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.menu-item > ul {
  display: none;
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
}

.open-child {
  display: block;
}

.close-child {
  display: none;
}

/*.menu-item .menu-item-hover {
  font-weight: normal;
  color: #333;  !* Default dark color *!
}*/

/*!* Toggle sub-menu visibility on hover *!
.menu-item:hover > ul {
  display: block;
  padding-left: 20px;
}*/

/*.menu-item:hover > span {
  font-weight: 500;
  color: #ffffff;
}*/

/*.menu-item .menu-item-hover:hover {
  background-color: #aaaaaa; !* Darker blue for submenu hover *!
}*/

/* Small screen responsiveness */
@media (max-width: 768px) {
  .projet {
    grid-template-columns: 1fr;
  }

  .menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }

  .menu.open {
    transform: translateX(0);
  }

  .menu ul {
    padding-left: 0px;
  }

  .project-content {
    grid-column: 1 / 2;
    margin-top: 0px;
    padding-left: 0px;
  }
  ::ng-deep .mat-menu-panel .mat-mdc-menu-panel {
    position: absolute !important;
    top: 0 ;
    left: 100% ;
    margin: 100px;
    transform: none ;
    color: red;
  }

}
