<div class="user-role-dialog">
  <h1> {{(memberGroupe == undefined || memberGroupe.id === undefined)? 'Ajout ':' Edition des rôle'}} d'utilisateur au groupe {{groupeUser.name}}</h1>



  <mat-grid-list cols="2" >
    <mat-grid-tile>
      <mat-form-field class="example-full-width" *ngIf="(memberGroupe == undefined || memberGroupe.id === undefined)">
        <input
          [disabled]="roUser"
          type="text"
          matInput
          [formControl]="userControl"
          [matAutocomplete]="auto"
          placeholder="Rechercher un utilisateur"
          (focus)="onFocus()"
        >
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let user of filteredUsers | async" [value]="user.username"  >
            <img [src]="userService.getUrlPhoto(user)" alt=" " width="30" height="30" style="margin-right: 10px;">
            {{ user.firstName }} {{ user.lastName }} ({{ user.username }})
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="user-card" *ngIf="memberGroupe != undefined && memberGroupe.user != undefined">
        <img [src]="userService.getUrlPhoto(memberGroupe.user)" alt="Proto" class="user-photo">
        <div class="user-info">
          <h2>{{memberGroupe.user.firstName+' '+memberGroupe.user.firstName}} </h2>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="role-checkboxes">
        <h3>Rôles</h3>
        <mat-checkbox *ngFor="let role of permission.roles" [checked]="idChecked(role)" (change)="onRoleChange($event, role.name)">
          {{ role.description }}
        </mat-checkbox>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="register-button">
    <button mat-raised-button color="primary" (click)="register()">Ajouter</button>
  </div>
</div>
