.user-role-dialog {
  padding: 20px;
}
.user-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #007bff;
}

.role-checkboxes {
  display: flex;
  flex-direction: column;
}

.register-button {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end; /* Aligne le bouton à droite */
}
.example-full-width {
  width: 100%;
  min-height: 100px;
}

.mat-option img {
  border-radius: 50%;
}
