<mat-dialog-content>
  <mat-toolbar>
    <div class="mat-toolbar-tools template-background">
      <h2> Config custom field : {{ customField.name }} </h2>
    </div>
    <button (click)="onCancelClick()" class="float-end btn-close"></button>
  </mat-toolbar>
  <mat-tab-group>
    <mat-tab label="Type de tache ">
      <mat-card class="mat-padding">
        <div class="sidebar-heding row">
            <div class="list-container">
              <ul>
                <li *ngFor="let it of issueTypes; " (click)="toggleCheck(it)">
                  <label >
                    <app-icone-view [icon]="it.icone" [width]="'fa-1x'"></app-icone-view>
                    <span>{{ it.name }}</span>

                  </label>
                  <input
                    type="checkbox"
                    [id]="'type-' + it.id"
                    class="checkbox-right"
                    [checked]="isUsing(it)"
                  >
                </li>
              </ul>
            </div>
        </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Affichage">
      <mat-card class="mat-padding">
        <div class="sidebar-heding ">
          <div *ngFor="let option of displayOptions">
            <mat-checkbox
              [checked]="isSelected(option.name)"
              (change)="onChangeDisplayOptions($event,option.name)"
            >
              {{ option.label }}
            </mat-checkbox>
          </div>
        </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Valeur par defaut">
      <mat-card class="mat-padding">
        <div class="sidebar-hedingd   ">
          <div class="list-container">
            <ul>
              <li *ngFor="let cf of options">
                <span>{{ cf }}</span>
              </li>
              <input type="text" [(ngModel)]="newOption"  (keydown.enter)="onEnter()" placeholder="Tapez ici et appuyez sur Entrée">
            </ul>
          </div>
        </div>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <div style="padding: 10px">
    <span fxFlex></span>
    <button mat-raised-button class="btn success" color="primary" (click)="onSaveClick()"><span> Terminer </span>
    </button>
  </div>
</mat-dialog-actions>
