<div class="container modern-container">
  <!-- Liste des projets avec une grille -->
  <div class="row project-list">
    <div
      class="col-md-6 mb-4"
      *ngFor="let project of projects"
      (click)="selectProject(project)"
    >
      <div class="card">
        <!-- Image de présentation -->
        <div class="image">
          <img style="width:200px"
            [src]="issueService.getImageProject(project) "
            alt="{{ project.name }} Image"
          />
        </div>
        <!-- Détails du projet -->
        <div class="modern-card-body">
          <h5 class="modern-card-title">
            <i class="fa fa-briefcase workspace-icon"> </i>
            <b> {{ project.prefix }}</b> - <i>{{ project.name }}</i>
          </h5>
          <p class="modern-card-description">
            {{ project.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Bouton pour créer un nouvel espace -->
  <div class="text-center mt-4">
    <button
      class="btn modern-create-btn"
      (click)="createProject()"
      *ngIf="authGuard.hasAutorityAsync(['ADMIN']) | async"
    >
      <i class="fa fa-plus-circle"></i> Créer une nouvelle espace de travail
    </button>
  </div>
</div>
