<div class="container">
  <!-- Liste des projets avec une disposition moderne en grille -->
  <div class="project-list grid-container">
    <div
      class="grid-item card project-item d-flex flex-column align-items-center"
      *ngFor="let project of projects"
      (click)="selectProject(project)"
    >
      <!-- Image de présentation -->
      <img
        class="project-image"
        [src]="project.imageUrl || 'assets/default-placeholder.png'"
        alt="{{ project.name }} Image"
      />

      <!-- Détails du projet -->
      <div class="project-details text-center">
        <a class="list-group-item-action">
          <h5 class="mb-1">
            <i class="fa fa-briefcase workspace-icon icon-spacing"></i>
            <b>{{ project.prefix }}</b>
            <i>{{ project.name }}</i>
          </h5>
          <p class="project-description">{{ project.description }}</p>
        </a>
      </div>
    </div>
  </div>

  <!-- Bouton pour créer un nouvel espace -->
  <div class="text-center mt-4">
    <button
      class="btn btn-primary create-project-btn"
      (click)="createProject()"
      *ngIf="authGuard.hasAutorityAsync(['ADMIN']) | async"
    >
      <i class="fa fa-plus-circle"></i> Créer une nouvelle espace de travail
    </button>
  </div>
</div>
