<div class="config-project container">
  <ul class="navigation">
    <li><a routerLink="issue-type"routerLinkActive="active" >Type de tache </a></li>
    <li><a routerLink="work-flow" routerLinkActive="active" >Flux de travail </a></li>
    <li><a routerLink="custom-field" routerLinkActive="active" >Champ personnalisé</a></li>
    <li><a routerLink="storage" routerLinkActive="active" >Stockage </a></li>
    <li><a routerLink="accessibility" routerLinkActive="active" >Accessibilité </a></li>
  </ul>
  <router-outlet></router-outlet>
</div>
