<div class="config-project container">
  <ul class="navigation">
    <li class="menu-btn" routerLink="issue-type"routerLinkActive="active"><a  >Type de tache </a></li>
    <li class="menu-btn" routerLink="work-flow" routerLinkActive="active"><a  >Flux de travail </a></li>
    <li class="menu-btn" routerLink="custom-field" routerLinkActive="active"><a  >Champ personnalisé</a></li>
    <li class="menu-btn" routerLink="storage" routerLinkActive="active"><a  >Stockage </a></li>
    <li class="menu-btn" routerLink="accessibility" routerLinkActive="active"><a  >Accessibilité </a></li>
  </ul>
  <router-outlet></router-outlet>
</div>
