<span class="controle" [matMenuTriggerFor]="menu2" mat-icon-button>
  <span  *ngIf="issue.status != null "><app-icone-view [icon]="issue.status.icone" ></app-icone-view> {{issue.status.displayName}} </span>
<span *ngIf="issue.status == null " >No status </span>
<i class="fas fa-chevron-down"></i>
</span>

<mat-menu #menu2="matMenu">
  <div *ngIf="canChangeStatus() | async">
    <h4> status  </h4>
    <span  *ngIf="issueType != null && issueType.curentWorkFlow != null && issueType.curentWorkFlow.statuses != null && issueType.curentWorkFlow.statuses.length !=0 ">
       <button  mat-menu-item *ngFor="let status of issueType.curentWorkFlow.statuses" (click)="changeStatus(status)"
                [ngClass]="{'active': isActive(status)}">
      <span ><app-icone-view [icon]="status.icone" ></app-icone-view> {{status.displayName}} ss</span>

    </button>
    </span>

    <span  *ngIf="issueType == null || issueType.curentWorkFlow == null || issueType.curentWorkFlow.statuses	 == null || issueType.curentWorkFlow.statuses	.length ==0 ">
      <span  > Flus de traveau non configuré </span>

    </span>
  </div>
</mat-menu>
