<div class="pdf-header">
  <span class="pdf-title"><i class="fas fa-file-pdf"></i> {{ data.fileName }}</span>
  <a [href]="data.downloadUrl" title="Télécharger"><i class="fa fa-download"></i></a>
  <button type="button" class="pdf-close" (click)="fermer()" title="Fermer"><i class="fa fa-times"></i></button>
</div>

<div class="pdf-body">
  <ngx-extended-pdf-viewer
    *ngIf="pdfSrc"
    [src]="pdfSrc"
    [showOpenFileButton]="false"
    zoom="page-width"
    height="calc(100vh - 52px)"
  ></ngx-extended-pdf-viewer>

  <p *ngIf="!pdfSrc && !erreur" class="pdf-message">Chargement du PDF…</p>
  <p *ngIf="erreur" class="pdf-message">Impossible de charger ce PDF.</p>
</div>
