<!-- notification.component.html -->
<div class="notification-container">
  <div *ngFor="let notification of notifications" class="notification-card" [class.read]="isRedead(notification)">

    <div class="user-info">
      <img [src]="urlPhoto(notification.action.user)" alt="User photo" class="user-photo">
      <div class="message-info">
        <p class="user-name">{{notification.action.user.username }}</p>
        <p class="message">{{ notification.message }}</p>
      </div>
      <div>
      <a [routerLink]="notification.issueLinks"> {{notification.project?.prefix}} / {{notification.action.issue.issueKey}}</a>
    </div>
    </div>
  </div>
</div>
