<div class="accessibility" *ngFor="let groupe of groupeUsers">
  <h1> {{groupe.name}}  </h1>
  <div class="user-card" *ngFor="let  member of groupe.members">
    <img [src]="userService.getUrlPhoto(member.user)" alt="Proto" class="user-photo">
    <div class="user-info">
      <h2>{{member.user.firstName+' '+member.user.firstName}} </h2>
      <p> Rôle: <span *ngFor="let role of member.roles"> {{role}} </span></p>
    </div>
    <div class="actions">
      <button (click)="editMamberForGroupe(member,groupe)" class="edit-btn">Éditer</button>
      <button class="delete-btn">Supprimer</button>
    </div>
  </div>
  <div class="add-user">
    <button class="add-btn"  (click)= "addMembrerForGroupe(groupe)"> <i class="fa fa-plus-square"></i>   Ajouter un membre </button>
  </div>
</div>



