<div class="task-page">
  <div class="task-container">
    <mat-card class="task-card">
      <mat-card-header>
        <mat-card-title>
          <h1 *ngIf="!editSummary"  style="cursor: pointer" >{{parentIssue.issueKey}} {{ parentIssue.summary }} <i class="fas fa-edit" (click)="editIssueSummary()" *ngIf="projectGuard.hasCredential(['CAN_EDIT_FIELD']) | async"></i> </h1>
          <h1 *ngIf="editSummary">
            <mat-form-field class="example-full-width">
              <input
                [(ngModel)]="parentIssue.summary"
                type="text"
                matInput
                placeholder="Summary"
              >
              <i style="float:right;cursor: pointer" class="fas fa-save" (click)="saveIssue()" *ngIf="editSummary"> </i>
            </mat-form-field>
            </h1>
        </mat-card-title>
        <span style="display: inline;margin-right: 1px">
          <app-status-field [issue]="parentIssue"></app-status-field>
         <app-assign-field [issue]="parentIssue"></app-assign-field>
        </span>

        <mat-card-subtitle>
          Description de la tâche <i class="fas fa-edit" *ngIf="(projectGuard.hasCredential(['CAN_EDIT_FIELD']) | async) && !editDescription" (click)="editIssueDescription()"></i>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p *ngIf="!editDescription" [innerHTML]="parentIssue.description"  style="cursor: pointer"> </p>
        <app-quill-editor *ngIf="editDescription" [(content)]="parentIssue.description" [theme]="'snow'"></app-quill-editor>
        <button *ngIf="editDescription || editSummary" (click)="saveIssue()" >                <i style="float:right;cursor: pointer" class="fas fa-save" (click)="saveIssue()" *ngIf="editSummary"> </i>
          Save </button>
        <button *ngIf="editDescription || editSummary" (click)="editDescription = false; editSummary = false">
          <i style="float:right;cursor: pointer" class="fas fa-save"  *ngIf="editSummary"> </i>
          cancel </button>
        <div class="custom-fields">
          <h4>Champs personnalisés</h4>
          <div class="field" *ngFor="let value of values">
              <app-custom-field
                [customFieldValue]="value" (save)="saveCustomFieldValue($event)"
                [viewMode]="viewModeField"
              > </app-custom-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>


  </div>
</div>
